@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
  overflow-x: hidden; 
}

.loader-container{
    width: 100%;
    height: 100vh;
    background-color:black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.loader{
    width: 75px;
    height: 75px;
    border: 7px solid;
    color: chartreuse;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    25%{
        color: turquoise;
    }
    50%{
        color: salmon;
    }
    75%{
        color: mediumpurple;
    }
    to{
        transform: rotate(360deg);
    }
}

nav {
  background:#03131f00 !important;
  transition:0.75s ease;
}
nav.scrolled {
  background:#0b171d !important;
}

.nav-link {
  color: #212429;
  font-size: 20px;
  font-weight: bold;
}

.nav-link.scrolled {
  color: #1ca4d8;
  font-size: 20px;
  font-weight: bold;
}

.navbar-collapse.in {
  display: block !important;
}

.navbar-collapse.in .nav-link{
  color: azure;
  margin: 5px;
  background-color: #1ca3d84d !important;
  padding-left: 15px;
}

.navbar-collapse.in .nav-link.scrolled{
  margin: 5px;
  padding-left: 15px;
  background-color: #0b171d !important;
  transition: 0.0001s;
  color: #1ca4d8;
}


.vital{
    height: 100vh;
    background-image: url(bg.png);
    background-size: cover;
}


.topic {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}

.type-1 {
    font-size: 3.5em;
    font-family: 'Barlow', sans-serif;  
    font-weight: bold; 
    color: #1ca4d8;  
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.type-2 {
    font-size: 3.5em;
    font-family: 'Barlow', sans-serif;  
    font-weight: bold; 
    color: #ffffff;  
    padding-bottom: 0.5em;
}

.type-3 {
    font-size: 3.5em;
    font-family: 'Barlow', sans-serif;  
    font-weight: bold; 
    color: #1c2029;  
    padding-bottom: 0.5em;
}

.heading {
  float: right;
  text-align: right !important;
  margin-top: 50px;
  margin-left: 10px;
  color: #18b5f3;
  font-size: 56px;
}

@media only screen and (min-width: 993px) {
  .heading {
    float: right;
    text-align: right !important;
    margin-top: 110px;
    margin-right: -20px;
    padding-right: 15px;
    color: #139dd3;
    font-size: 57px;
    border-right: 4px solid #0c537c;
  }
  .slider {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .heading {
    float: right;
    text-align: right !important;
    margin-top: 130px;
    margin-right: -20px;
    padding-right: 13px;
    color: #14a1da;
    font-size: 53px;
    border-right: 4px solid #125b85;
  }
}

@media only screen and (max-width: 861px) {
  .heading {
    float: right;
    text-align: right !important;
    margin-top: 150px;
    margin-right: -20px;
    padding-right: 12px;
    color: #1b9bce;
    border-right: 4px solid #19608a;
    font-size: 53px;
  }
}
@media only screen and (max-width: 800px) {
  .heading {
    float: right;
    text-align: right !important;
    margin-top: 200px;
    margin-right: -20px;
    padding-right: 10px;
    color: #1ba6dd;
    border-right: 4px solid #0a3046;
    font-size: 47px;
  }
  .slider {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 767.5px) {
  .heading {
    float: left;
    text-align: left !important;
    margin-top: 30px;
    margin-left: -90px;
    padding-left: 10px;
    color: #18b5f3;
    font-size: 43px;
    border-left: 4px solid #6eb1db;
    border-right: transparent;
  }
}

@media only screen and (max-width: 722px) {
  .heading {
    margin-left: -25px;
    text-align: left !important;
    margin-top: 30px;
    padding-left: 10px;
    color: #18b5f3;
    font-size: 40px;
    float: left !important;
    border-left: 4px solid #6eb1db;
    border-right: transparent;
  }
  .slider {
    padding-left: 100px;
  }
}

@media only screen and (max-width: 622px) {
  .heading {
    margin-left: 20px;
    text-align: left !important;
    margin-top: 30px;
    padding-left: 12px;
    color: #18b5f3;
    font-size: 35px;
    float: left !important;
    border-left: 4px solid #6eb1db;
    border-right: transparent;
  }
}

@media only screen and (max-width: 505px) {
  .heading {
    margin-left: 10px;
    text-align: left !important;
    margin-top: 30px;
    padding-left: 20px;
    color: #18b5f3;
    font-size: 40px;
    border-left: 4px solid #6eb1db;
    border-right: transparent;
  }
  .slider {
    padding-left: 50px;
    /* padding-right: 50px; */
  }
}

@media only screen and (max-width: 360px) {
  .slider {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .slider {
    padding-left: 40px;
    padding-right: 40px;
  }
}


span.un{
    
    border-bottom: 3px solid;    
}


.btn-white {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.card-group {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}


.icon {
    color: #ffffff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.joint,#footer {
    background-color: rgb(24, 22, 22);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.container #carouselExampleIndicators {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.para {
    background-color: #1ca4d8;
    text-align: center;
    color: black;
}

.card-header {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 20px;  
}

.card-body button {
  align-items: center;
}

.col-md-4 img {
    display: block;
    height: 200px;
    padding: 0 25px 0 25px;
}

#contact {
    background-color: #c5c6c7;
    padding-bottom: 3rem;
    padding-top: 3rem;
    position: relative;
}


#aboutus, #perks,#responsibility,#footer {
    padding-top: 1rem;
    padding-bottom: 3rem;
    position: relative;
}

.yolo {
    color: #ffffff;
    text-align: center;
}

.yolo2 {
    color: #1ca4d8;
    text-align: center;
}

.btn-contact {
    background: linear-gradient(90deg, #33a9d8 0%, #1ca4d8 100%);
    padding: 0.5rem 2.2rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
}

.btn-contact:hover {
    background: #ffffff;
    color: #1ca4d8;
    border: 2px solid #1ca4d8;

}

#aboutus{
        background-image: url("edc1.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
  
}

#incentivenew {
    width: 100%;
    height: auto;
}

.icons {
    color: #1ca4d8;
}

.perk-body p {
  padding: 0 15px 15px 15px;
}

.class-body a {
    display: inline-block;
    color: #1ca4d8;
    background-color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.class-body a:hover {
    box-shadow: 0 5px 5px rgba(0,0,0.2);
} 

.try {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 340px;
    background: #000;
}
.try .image1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.try .image1 img {
    width: 100%;
    transition: .5s;
}
.try:hover .image1 img {
    opacity: .5;
    transform: translateX(30%);
}
.try .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #646364;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.try:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.try .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.try .details .center h1 {
    margin: 0;
    padding: 0;
    color: #1ca4d8;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.try .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.try .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}
.try .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.try .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.try .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.try .details .center ul li a:hover {
    background: #ff3636;
}

#carouselExampleIndicators .card {
    max-width: 18rem;
    overflow: hidden;
    border-radius: 5px;   
}

#carouselExampleIndicators .card p {
  max-height: 150px !important;
  overflow: hidden;
}

#carouselExampleIndicators .card .showContents p {
  height: auto;
}

#more {
    display: none;
}

.fas { font-family: 'FontAwesome' !important; }




/* TIMELINE */

html, body {
    background-color: #222C32;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background: #2B343A;
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #18b5f3;
}
@media only screen and (min-width: 1000px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1000px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #18b5f3, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #1ca4d8;
}
@media only screen and (min-width: 100px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 10px;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333C42;
  border-radius: 2px;
  padding: 1em;
}
  .cd-timeline-content .timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px; }
    .cd-timeline-content i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {  
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {  
        display: block;
        width:100%;
      } 
    }
  
  .content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    .content-skills .li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1000px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 150%;
    top: 15px;
    font-size: 20px;
    font-size: 1.5rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 150%;
    top:7%;
    text-align: right;
  }
}


/* INCENTIVE */

.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(odd):before {
background: linear-gradient(to right, #35B5C7, #1ca4d8) !important;
}
.tilesWrap li:nth-child(even):before {
background: linear-gradient(to right, #1ca4d8, #35B5C7) !important;
}








